body {
    background-color: bisque;
    font-family: 'Courier New', Courier, monospace;

}

h1 {
    text-align: center;
    /* border: solid; */
    padding: 10px 10px 10px 10px;
    margin: 10px;
}

img {
    width: 600px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid;
}

li {
    font-size: large;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 16px 0 16px;
    border-top: solid;
    border-bottom: solid;
}

ul {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    /* border: solid; */
}